{% extends "layout.njk" %}

{% block content %}

    <form class="card" method="POST" action="/teachers">
        <section class="avatar" style="background: url(https://source.unsplash.com/collection/1603248/500x500) no-repeat center center / cover"></section>
        <section class="details">

            <h3>Novo Professor</h3>

            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input type="url" name="avatar_url" placeholder="http://">
                </div>
            </div>

            <div class="item">
                <div>Nome Completo</div>
                <div>
                    <input type="text" name="name">
                </div>
            </div>

            <div class="item">
                <div>Data de nascimento</div>
                <div>
                    <input type="date" name="birth_date">
                </div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>
                    <select name="education_level">
                        <option value="medio">Ensino Medio</option>
                        <option value="superior">Superior Completo</option>
                        <option value="mestrado">Mestrado</option>
                        <option value="doutorado">Doutorado</option>
                    </select>
                </div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>
                    <span><input type="radio" name="class_type" value="P" checked="checked">Presencial</span>
                    <span><input type="radio" name="class_type" value="D">À distância</span>
                </div>
            </div>

            <div class="item">
                <div>Área de atuação</div>
                <div>
                    <input type="text" name="subjects_taught" placeholder="Separe as disciplinas por vírgula">
                </div>
            </div>

            <button type="submit" class="btn-save">Salvar</button>

        </section>
    </form>

{% endblock content %}